@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url(public/fonts/Lexend-Light.ttf);
}

@font-face {
  font-family: LexendDeca;
  src: url(public/fonts/LexendDeca-Light.ttf);
}

@font-face {
  font-family: LexendExa;
  src: url(public/fonts/LexendExa-Light.ttf);
}

@font-face {
  font-family: LexendGiga;
  src: url(public/fonts/LexendGiga-Light.ttf);
}

@font-face {
  font-family: LexendMega;
  src: url(public/fonts/LexendMega-Light.ttf);
}

@font-face {
  font-family: LexendPeta;
  src: url(public/fonts/LexendPeta-Light.ttf);
}

@font-face {
  font-family: LexendTera;
  src: url(public/fonts/LexendTera-Light.ttf);
}

@font-face {
  font-family: LexendZetta;
  src: url(public/fonts/LexendZetta-Light.ttf);
}

:root {
  font: 18px Lexend;
}

.star {
  position: fixed;
  pointer-events: none;
}

.star:before,
.star:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2726';
  font-size: 9px;
}

.star:before {
  color: transparent;
  text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
  background: yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  cursor: url(public/assets/colored-magic-wand.png), auto;
}

.p-button-icon.p-button-icon-left.pi.pi-file-plus {
  margin-right: 10px !important;
  font-size: 20px;
}
